<template lang="html">
  <div class="container is-fluid">
  <div class="notification">
    This container is <strong>fluid</strong>: it will have a 24px gap on either side, on any viewport size.
  </div>
</div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
