<template lang="html">
  <div class="">
    <nav class="panel column is-offset-2 is-8">

    <div class="container is-fluid">
      <p class="panel-heading">
        repositories
      </p>
      <div class="panel-block">
        <button class="button is-link is-outlined" @click="openAdd">
          Add New
        </button>
      </div>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="search">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
      <p class="panel-tabs">
        <a class="is-active">all</a>
        <a>public</a>
        <a>private</a>
        <a>sources</a>
        <a>forks</a>
      </p>

      <a class="panel-block is-active">

        <span class="column is-9">
          bulma
        </span>

        <span class="panel-icon column is-1">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </span>

        <span class="panel-icon column is-1">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </span>

        <span class="panel-icon column is-1">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </span>

      </a>



    </div>

  </nav>

   <add :openModal='addActive' @closeRequest='close'></add>
  </div>
</template>

<script>
let add = require('./add.vue');
export default {
  components: {add},
  data(){
    return {
      addActive: ''
    }
  },
  monunted(){
    console.log('suvo')
  },
  methods: {
    openAdd(){
      this.addActive = "is-active";
    },
    close(){
      this.addActive = "";
    }
  }

}
</script>

<style lang="css">
</style>
